<h5>Consulta de Clientes</h5>
<p>Relação de clientes cadastrados no sistema.</p>
<hr/>



<table class="table table-bordered table-hover table-stripped">
    <thead>
        <tr>
            <th>Nome do Cliente</th>
            <th>Email</th>
            <th>CPF</th>
            <th>Data de Criação</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@item.Nome</td>
            <td>@item.Email</td>
            <td>@item.Cpf</td>
            <td>@item.DataCriacao</td>
            <td width='160'>
                <button class="btn btn-sm btn-primary mr-1">Atualizar</button>
                <button class="btn btn-sm btn-danger">Excluir</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                Quantidade de clientes: 0
            </td>
        </tr>
    </tfoot>
</table>